/* Global Styles */

html,
body {
  font-family: Helvetica, sans-serif;
  /* change to Khula */
  margin: 0;
  padding: 0;
}

img {
  width: 100%;
}

/* Navbar Styles */

nav {
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav > a > img {
  height: 30px;
  width: auto;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav ul li a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

#hamburger {
  display: none;
}

#overlay {
  display: none;
}

/* Navigation Mobile Styles */
@media (max-width: 767px) {
  nav {
    padding: 0 20px;
  }

  nav ul {
    max-width: 60vw;
    width: 100%;
    height: 100vh;
    background: white;
    position: fixed;
    left: 0;
    top: 0;
    padding: 20px;
    box-sizing: border-box;
    z-index: 2;
    display: none;
  }

  nav ul.active {
    display: block;
  }

  nav ul li {
    padding: 20px;
  }

  #hamburger {
    display: block;
    height: 30px;
    width: auto;
  }

  #overlay {
    display: block;
    width: 100vw;
    height: 100vh;
    background: black;
    opacity: 0.5;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 1;
    display: none;
  }

  #overlay.active {
    display: block;
  }
}

/* Navigation Desktop Styles */
@media (min-width: 768px) {
  nav {
    padding: 0 40px;
  }

  nav ul {
    display: flex;
    max-width: 500px;
    width: 100%;
    justify-content: space-between;
  }
}

/* Footer Styles */

footer {
  background: #395874;
  color: white;
  padding: 20px 20px;
}

footer a {
  color: white;
}
