/* Global Styles */

html,
body {
  font-family: Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 28px;
  display: flex;
  justify-content: center;
  color: #e5bf2b;
}

h2 {
  font-size: 20px;
  text-align: center;
  color: #9accef;
  margin-top: 24px;
  margin-bottom: 12px;
}

p {
  margin: 0;
  font-size: 16px;
  line-height: 22px;
}

img {
  width: 100%;
  display: flex;
  justify-content: center;
}

#margaret-p {
  color: #395874;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.home-h1 {
  margin-bottom: 25px;
  margin-top: 40px;
}

p.credits {
  text-align: center;
  line-height: 24px;
  color: #395874;
  margin: 0 20px;
}

.credits a {
  color: #395874;
}

@media (min-width: 768px) {
  h1 {
    font-size: 100px;
    margin: 35px 0;
  }
  h2 {
    font-size: 48px;
    margin-top: 48px;
    margin-bottom: 24px;
  }
  .grid-1-3 h1 {
    font-size: 32px;
  }
  p {
    font-size: 18px;
  }
  .credits p {
    font-size: 18px;
  }
}

/* Switching Image Styles */
@media (min-width: 768px) {
  .mobile-img {
    display: none;
  }
  .desktop-img {
    display: block;
  }
}

@media (max-width: 767px) {
  .mobile-img {
    display: block;
  }
  .desktop-img {
    display: none;
  }
}

/* Video Styles */

.sixteen-by-nine {
  padding-top: 56.25%;
  position: relative;
}

.sixteen-by-nine > iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* Grid Styles */

.grid-1-3 {
  padding: 0 20px 20px 20px;
}

@media (min-width: 768px) {
  /* this is a grid with two columns */
  .grid-1-3 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 50px;
    padding: 0 40px 20px 40px;
  }
}

/* Accordian Styles */

.accordion {
  background-color: #9accef;
  color: white;
  font-size: 20px;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
  display: grid;
  grid-template-columns: 100fr 1fr;
  margin: 20px auto 0 auto;
}

.accordion img {
  width: 24px;
  padding-left: 8px;
}

.panel a {
  color: white;
}

.active,
.accordion:hover {
  background-color: #395874;
}

.panel {
  padding: 0 20px 20px 20px;
  background-color: #395874;
  color: white;
  display: none;
  overflow: hidden;
}

@media (min-width: 768px) {
  .accordion {
    max-width: 1200px;
  }
  .panel {
    max-width: 1160px;
    margin: 0 auto;
  }
}

/* Navbar Styles */

nav {
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#logo {
  height: 40px;
  width: auto;
}

nav > a > img {
  height: 30px;
  width: auto;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav ul li a {
  text-decoration: none;
  color: #e5bf2b;
  font-weight: bold;
}

#hamburger {
  display: none;
}

#overlay {
  display: none;
}

/* Navigation Mobile Styles */
@media (max-width: 767px) {
  nav {
    padding: 0 20px;
  }

  nav ul {
    max-width: 60vw;
    width: 100%;
    height: 100vh;
    background: white;
    position: fixed;
    left: 0;
    top: 0;
    padding: 20px;
    box-sizing: border-box;
    z-index: 2;
    display: none;
  }

  nav ul.active {
    display: block;
  }

  nav ul li {
    padding: 15px;
  }

  #hamburger {
    display: block;
    height: 30px;
    width: auto;
  }

  #overlay {
    display: block;
    width: 100vw;
    height: 100vh;
    background: black;
    opacity: 0.5;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 1;
    display: none;
  }

  #overlay.active {
    display: block;
  }

  #menu.active {
    background-color: white;
  }
}

/* Navigation Desktop Styles */
@media (min-width: 768px) {
  nav {
    padding: 0 40px;
  }

  nav ul {
    display: flex;
    max-width: 300px;
    width: 100%;
    justify-content: space-between;
  }
}

/* Footer Styles */

footer {
  background: #395874;
  color: white;
  padding: 20px 20px;
  margin: 20px 0 0 0;
}

footer a {
  color: white;
}
